/* * {
    box-sizing: border-box;
} */

.left {
    position: absolute;
    left: 250px;
    top: 17%;
}

.inter {
    height: 50px;
    ;
}

.right {
    position: absolute;
    right: 250px;
    top: 17%;

}

.contact .p1 {
    margin-right: 75%;
    font-size: 20px;

}

.contact .p2 {
    margin-right: 76%;
    font-size: 20px;

}

.contact .p3 {
    margin-right: 77%;
    font-size: 20px;

}
.contact .p4{
    margin-right: 72%;
    font-size: 20px;
}
.contact .p5{
    margin-right: 54%;
    font-size: 20px;

}
.contact .p6 {
    margin-right: 90%;
    font-size: 20px;

}

.contact .p7 {
    margin-right: 62%;
    font-size: 20px;

}

.contact .p8 {
    margin-right: 69%;
    font-size: 20px;

}

.contact .p9 {
    margin-right: 92%;
    font-size: 20px;

}
.contact .Refreq{
    margin-right: 92%;
    font-size: 15px;

}



.contact .Themes {
    margin-right: 90%;
    font-size: 20px;
}

.drop {
    margin-right: 75%;
}


.tab {
    /* background: #92bde7; */
    color: #485e74;
    line-height: 1.6;
    font-family: "segoe UI", "segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
    justify-items: left;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);

}

.wrapper>* {
    padding: 1em;
}

.contact {
    background: #f9feff;

}

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;

}

.label {
    justify-content: left;
}

.contact form p {
    margin: 0;

}


.contact form input {
    width: 100%;
    
    border: 1px solid #c9e6ff;
}


.contact Full submit {
    
    border: 3px solid black;
}



.contact form button {
    background: #c9e6ff;
    border: 3px solid black;
    text-transform: uppercase;
    font-size: 17px;

}


.contact form button:hover,
.contact form button:focus {
    background: #7da6cf;
    color: #384f65;
    outline: 0;
    transition: background-color 1s ease-out;
}
.submit{
    border-top-left-radius: 20%;

    border-bottom-left-radius: 20%;

    border-top-right-radius: 20%;

    border-bottom-right-radius: 20%;
    height:40px;
    width:80px;
    
}
.reset {
    border-top-left-radius: 20%;

    border-bottom-left-radius: 20%;

    border-top-right-radius: 20%;

    border-bottom-right-radius: 20%;
    height:50px;
    width:100px;
}

.contact form button {
    padding: 1em;

    border: 1px solid #19191a;
    padding: 2px 3px;
}

.contact form .Full {
    grid-column: 1/3;
}
